# **Assignment1**

In [ ]:

import pandas as pd
from collections import Counter
url = 'https://raw.githubusercontent.com/krittikaiitb/tutorials/master/Tutorial_01/Moons_and_planets.csv'
file = pd.read_csv(url)
doc = pd.DataFrame(file)

  # Name of Moon  Name of Planet   Diameter (km)
0           Moon           Earth          1737.1
1         Phobos            Mars            11.1
2         Deimos            Mars             6.2
3             Io         Jupiter          1818.1
4         Europa         Jupiter          1560.7

In [ ]:
col_val = doc.columns.values
print(col_val)

['# Name of Moon' ' Name of Planet' ' Diameter (km)']

In [ ]:
col_val = doc.columns.values
x = list(doc[' Name of Planet'])

['Earth', 'Mars', 'Mars', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Jupiter', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Uranus', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Neptune', 'Pluto', 'Pluto', 'Pluto', 'Pluto', 'Pluto']

In [ ]:
mercury,venus,earth,mars,jupiter,saturn,uranus,neptune,pluto=[0,0,0,0,0,0,0,0,0]

for i in range(len(x)):           
    if x[i] == 'Mercury':
        mercury=mercury+1
    elif x[i]== 'Venus':
        venus = venus+1
    elif x[i]== 'Earth':
        earth =earth+1
    elif x[i]== 'Mars':
        mars=mars+1
    elif x[i]== 'Jupiter':
        jupiter=jupiter+1
    elif x== 'Saturn':
        saturn=saturn+1
    elif x[i]== 'Uranus':
        uranus=uranus+1
    elif x[i]== 'Neptune':
        neptune=neptune+1
    elif x[i]== 'Pluto':
        pluto=pluto+1

In [ ]:
print(mercury,venus,earth,mars,jupiter,saturn,uranus,neptune,pluto)

# number of moons a planet have

0 0 1 2 79 0 27 14 5